<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About?</title>
</head>
<body>
This file is only here because the assignment said I should have it..
All the cool stuff happens in index.ejs
<%=title %>
<%=subtitle %>
<%=text %>
</body>
</html>